* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4faff;
    overflow: hidden;
}

.earth {
    position: relative;
    width: 400px;
    height: 400px;
    background: rgba(5, 136, 228, 0.7) url(../img/world.svg);
    background-size: cover;
    border-radius: 50%;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.85);
    animation: rounding 64s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.earth:active {
    transform: scale(2);
}

.earth::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/cloud.png);
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    animation: rounding 128s linear infinite;
}

.plane {
    position: absolute;
    pointer-events: none;
    transition: 0.5s;
    transform: rotate(-90deg);
    font-size: 0.85rem;
    color: #2d2d2d;
    z-index: 2;
}

.earth:active .plane {
    font-size: 1.5rem;
    transform: rotate(-90deg) scale(1);
}

@keyframes rounding {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 866.9px 0;
    }
}